<script>
import LaravelVuePagination from 'laravel-vue-pagination';
    export default {
        components: {
            'Pagination': LaravelVuePagination
        },
        data(){
            return{
                user_id : null,
                user_list : [],
                date : '',
                baseURL: window.location.origin,
                user_data : [],
                summary : [],
                error : '',
                isLoading: false,
            }
        },
        methods:{
           get_user_list (){
               axios.get(`${this.baseURL}/get-user-list`).then(res=>{
                   this.user_list = res.data.data
               })
           },
            get_user_data(page = 1){
               if (this.user_id != null){
                   this.error = ''
                   this.isLoading = true
                   axios.get(`${this.baseURL}/analytic-data/${this.user_id}?date=${this.date}&page=${page}`).then(res=>{
                       this.user_data = res.data
                       this.isLoading = false
                   })
                   axios.get(`${this.baseURL}/analytic-summary/${this.user_id}?date=${this.date}`).then(res=>{
                       this.summary = res.data
                   })
               }else{
                   this.error = 'Please Select User'
               }

            }
        },

        created(){
            this.get_user_list()
        }
    }
</script>
<style>
    table{
        font-size: 13px;
        text-align: center;
    }
    .error{
        position: absolute;
        font-size: 12px;
        color: red;
    }
</style>
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4 h-100">
                    <div class="card-header">
                        <h4 class="mb-0">Get Analytic Data</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <label class="w-50 position-relative">
                                Select User
                                <select v-model="user_id" name="user_id" class="form-select form-select-sm">
                                    <option value="null">Select User</option>
                                    <option  v-for="user in user_list" :value="user.user_id" :key="user.user_id">{{user.name}}</option>
                                </select>
                               <small class="error">{{error}}</small>
                            </label>
                            <label class="w-50">
                                Select Date
                                <input class="form-control form-control-sm" type="date" v-model="date"  placeholder="Select Date" name="date">
                            </label>
                            <div class="d-grid mt-4">
                                <button v-if="isLoading" type="button"  class="btn btn-sm btn-success"><span class="spinner-border spinner-border-sm"></span> </button>
                                <button v-else type="button" @click="get_user_data" class="btn btn-sm btn-success">Get Analytic Data</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mt-4 h-100">
                    <div class="card-header">
                        <h4 class="mb-0">Analytic Summary</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-striped table-bordered text-start" v-if="Object.keys(summary).length > 0 ">
                            <tbody>
                                <tr>
                                    <th>User</th>
                                    <td>{{summary.user_name}}</td>
                                </tr>
                                <tr>
                                    <th>Feature Used</th>
                                    <td>{{summary.count}} times</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>{{date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5" v-if="Object.keys(user_data).length > 0">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User ID</th>
                            <th>Event</th>
                            <th>App Platform</th>
                            <th>App Version Code</th>
                            <th>Device</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(data, index) in user_data.data" :key="index">
                            <td>{{data.id}}</td>
                            <td>{{data.user_id}}</td>
                            <td>{{data.event}}</td>
                            <td>{{data.app_platform}}</td>
                            <td>{{data.app_version_code}}</td>
                            <td>{{data.device}}</td>
                            <td>{{data.created_at}}</td>
                            <td>{{data.updated_at}}</td>
                        </tr>
                    </tbody>
                </table>

                <Pagination :limit="10" :data="user_data" @pagination-change-page="get_user_data" />

            </div>
        </div>
    </div>
</template>
